@font-face {
  font-family: 'RotondaC';
  src: url('RotondaC-Bold.eot');
  src: url('RotondaC-Bold.eot?#iefix') format('embedded-opentype'),
  url('RotondaC-Bold.svg#RotondaC-Bold') format('svg'),
  url('RotondaC-Bold.ttf') format('truetype'),
  url('RotondaC-Bold.woff') format('woff'),
  url('RotondaC-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'RotondaC';
  src: url('RotondaC.eot');
  src: url('RotondaC.eot?#iefix') format('embedded-opentype'),
  url('RotondaC.svg#RotondaC') format('svg'),
  url('RotondaC.ttf') format('truetype'),
  url('RotondaC.woff') format('woff'),
  url('RotondaC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'RotondaC';
}
.b-header{
  padding-top: 50px;
  padding-bottom: 100px;
}
.b-floor{
  display: none;
  position: relative;
}
.b-floor svg{
  /*position: absolute;*/
  /*top: 0;*/
}
.b-floor--2{

}
.b-floor--3{

}
#floor_2{
  left: 5px;
}
.b-floor--active{
  display: block;
}
.b-floor--name{
  font-size: 60px;
  color: #e72528;
  margin-top: 5px;

}

.b-svg{

}
.g-wrapper{
  max-width: 1500px;
}
.text-align-right{
  text-align: right!important;
}
.f-full-width .form-group{
  width: 70%;
}
.f-full-width .form-group .input-group{
  width: 100%;
}
.form-control{
  font-size: 17px;
  line-height: 49px;
  height: 49px;
  border:1px solid #e6e3e2;
  border-radius: 10px 0px 0px 10px!important;
  border-bottom: 5px solid #dfdbd9;
  border-right: 0px;
  color: #000;
}
.form-control:focus{
  border-color: #dfdbd9;
  outline: 0;
  box-shadow: inset 0 1px 1px #e6e3e2!important;
}
.btn{
  border-radius: 0px;
}
.btn-yellow{
  position: relative;
  left: -1px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  height: 49px;
  padding: 0 35px;
  border:1px solid #e3c94a;
  background: #f5e245;
  border-bottom: 5px solid #cbbc4f;
  border-radius: 0px 10px 10px 0px;
  text-shadow: none;
  text-transform: uppercase;
  color: #000;
  padding-top: 11px;
  padding-bottom: 10px;
  outline: none!important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-yellow:hover{
  background: #f7e763;
}

.btn-more{
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 9px;
  border-radius: 17px;
  background-color: rgb(245, 226, 69);

  width: 136px;
  height: 35px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

}
.btn-more:hover{
  background: #f7e763;
}

.a-floor{
  display: inline-block;
  font-size: 24px;
  color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border:1px solid #e4e1e0;
  border-bottom: 5px solid #e4e1e0;
  padding: 6px 30px 3px;
  background: #f5f3f0;
  /*opacity: 0.7;*/
  color: #b3b3b1;
  outline: none;
}
.a-floor--actvie{
  background: #fff;
  opacity: 1;
  color: #000;
}
.a-floor:hover{
  opacity: 0.9;
  color: #555;
  text-decoration: none;
  outline: none;
}
.a-floor:focus{
  text-decoration: none;
  color: initial;
}
.a-floor-left{
  border-radius: 10px 0px 0px 10px!important;
}
.a-floor-right{
  border-radius: 0px 10px 10px 0px;
  margin-left: -1px;
}

.b-pin{
  visibility: hidden;
  position: absolute;
  opacity: 0;
  top: 15px;
  left: calc(50% - 195px);
  width: 390px;
  min-height: 230px;
  background: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  padding: 30px;
  border-radius: 10px;

  box-shadow: 0px 4px 19.4px 0.6px rgba(67, 56, 50, 0.15);
  font-size: 16px;
  z-index: 7;
}

.b-pin h2{
  font-size: 22px;
  font-weight: bold;
}
.b-pin p{
  font-size: 16px;
}
.b-pin--active{
  visibility: visible;
  opacity: 1;
}

.b-section{
  fill:#F4F0ED!important;
  opacity: 0!important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.b-section:hover{
  opacity: 0.7!important;
  fill:#F4F0ED!important;
}
.b-section-disabled{
  opacity: 0.7!important;
  fill:#F4F0ED!important;
}

.b-section-enabled{
  fill:#F4F0ED!important;
  opacity: 0!important;
}
.b-section-enabled:hover,
.b-section-disabled:hover{
  fill:#F4F0ED!important;
  opacity: 0!important;
}

.b-legend{
  font-size: 20px;
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px;

}
.b-legend h2{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.b-legend--col{
  /*display: flex;*/
  /*justify-content: flex-start;*/
  /*display: flex;*/
  /*align-items: flex-start;*/
  /*justify-content: space-between;*/
  display: inline-block;
  /*position: relative;*/
  vertical-align: top;
  min-width: 160px;
  margin-right: 30px;
  /*top: 0;*/
}
.b-legend--col:last-child{
  margin-right: -1px;
}
.b-legend--item{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 12px;
  /*justify-content: flex-end;*/
}
.b-legend--number{
  width: 45px;
  font-size: 19px;
  display: inline-block;
  color: #b6b7b7;
  /*padding-bottom: 10px;*/
  /*margin-right: 5px;*/
}
.b-legend--name{
  /*flex-grow: 2;*/
  line-height: 20px;
  /*min-width: 260px;*/
}
.b-legend--icons{
  margin-left: 2px;
  /*float: right;*/
  /*padding-bottom: 4px;*/
  /*display: inline-flex;*/
  /*justify-content: flex-start;*/
  /*flex-direction: row-reverse;*/
  /*flex-grow: 2;*/
}
.b-legend--icons-vertikal{
  float: initial;
}
.b-legend--icons img{
  margin: 0 5px 4px 5px;
  width: 25px;
  float: right;
}

.b-legend--col-4 .b-legend--icons{
  width: 140px;
}
.b-legend--col-4 .b-legend--icons img{
  float: left;
}
.b-legend--col-2 .b-legend--icons{
  width: 70px;
}
.b-legend--col-2 .b-legend--icons img{
  float: left;
}

.b-floor--2 .b-legend--col:nth-child(1){
  min-width: 320px;
  margin-right: 50px;
}
.b-floor--2 .b-legend--col:nth-child(2){
  min-width: 270px;
  margin-right: 50px;
}
.b-floor--2 .b-legend--col:nth-child(4){
  min-width: 230px;
  margin-right: 50px;
}

.link--back{
  display: inline-block;
  font-size: 27px;
  color: #000;
  text-decoration: none;
  position: relative;
  top: 4px;
  /*text-transform: uppercase;!**!*/
}
.link--back:hover{
  text-decoration: none;
  color:#333;
}
.link--icons{
  position: relative;
  top: 3px;
}
.b-mobile-menu{
  margin-bottom: 25px;
}

.b-mobile-box{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-top: 25px;
  padding-left: 20px;
  padding-right: 20px;
  background: #f7f5f4;
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;height: 100%;
  z-index: 5;
}
.b-mobile-box--active{
  visibility: visible;
  opacity: 1;

}

.b-navigation{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}
.b-navigation--item{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  max-width: 86px;
}
.b-navigation--item:hover{

  text-decoration: none;
}
.b-navigation--icon{
  width: 60px;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;

}

.b-navigation-box{
  /*display: block;*/
  flex-direction: column;
  justify-content: flex-start;
}
.b-navigation-box .b-navigation--item:first-child{
  margin-top: 30px;
}
.b-navigation-box .b-navigation--item{
  /*display: flex;*/
  max-width: 100%;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
.b-navigation-box .b-navigation--icon{
  display: inline-block;
  float: left;
  margin-right: 20px;
  margin-top: -20px;
}

.b-navigation-floor{
  position: absolute;
  top:-10px;
  left: calc(50% + 100px);
}
.b-navigation-floor .b-navigation--icon{
  width: 25px;
  margin-bottom: 5px;
}
.b-navigation-floor .b-navigation--item{
  font-size: 9px;
  width: 45px;
  line-height: 12px;
  text-transform: lowercase;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.b-navigation-floor .b-navigation--item:hover{
  opacity: 0.7;
}
/*.b-floor--3 .b-legend--col:nth-child(1){*/
/*  width: 160px;*/
/*}*/
/*.b-floor--3 .b-legend--col:nth-child(2){*/
/*  width: 281px;*/
/*}*/
/*.b-floor--3 .b-legend--col:nth-child(3){*/
/*  width: 362px;*/
/*}*/
/*.b-floor--3 .b-legend--col:nth-child(4){*/
/*  width: 264px;*/
/*}*/
/*.b-floor--3 .b-legend--col:nth-child(5){*/
/*  width: 380px;*/
/*}*/

/*маки*/
@media (max-width: 1500px) {
  .b-floor--2 .b-legend--col:nth-child(1),
  .b-floor--2 .b-legend--col:nth-child(2),
  .b-floor--2 .b-legend--col:nth-child(4),
  .b-floor--3 .b-legend--col:nth-child(1),
  .b-floor--3 .b-legend--col
  {
    min-width: 160px;
    margin-right: 15px;
  }
  .b-floor--2 .b-legend--col:last-child,
  .b-floor--3 .b-legend--col:last-child{
    margin-right: -1px;
  }
  .b-legend{
    font-size: 17px;
  }
  .b-legend--number{
    font-size: 17px;
  }
}
@media (max-width: 1400px) {
  .b-legend{
    font-size: 17px;
  }
  .b-legend--number{
    font-size: 17px;
  }
  .b-navigation-floor{
    position: absolute;
    top:-10px;
    left: calc(50% + 50px);
  }
}
/*планшет*/
@media (max-width: 1199px) {
  .b-svg svg,
  .b-search,
  .b-navigation-floor,
  .b-pin{
    display: none;
  }
  .a-floor{
    padding: 6px 80px 3px;
  }
  .b-header{
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .b-legend{
    display: block;
    font-size: 20px;
    max-width: 524px;
    margin-top: 0;
  }
  .b-legend--col{
    margin-right: 0;
    display: block;
  }
  .b-legend--icons-vertikal br{
    display: none;
  }
  .b-legend--icons img{
    float: right;
  }

  .b-floor--2 .b-legend--col:nth-child(1),
  .b-floor--2 .b-legend--col:nth-child(2),
  .b-floor--2 .b-legend--col:nth-child(4){
    min-width: initial;
    margin-right: initial;
  }
  #floor_2{
    left: 0;
  }
  .b-legend--col-4 .b-legend--icons,
  .b-legend--col-3 .b-legend--icons,
  .b-legend--col-2 .b-legend--icons{
    width: initial;
  }
  .b-legend--col-4 .b-legend--icons img,
  .b-legend--col-3 .b-legend--icons img,
  .b-legend--col-2 .b-legend--icons img{
    float: left;
  }
}

/*мобилка*/
@media (max-width: 767px) {

  .b-header{
    padding-top: 25px;
    padding-bottom: 10px;
  }

  .a-floor{
    width: 50%;
    text-align: center;
    padding: 6px 10px 3px;
  }
  .link--back{
    font-size: 20px;
    position: relative;
    top:-5px;
  }
  .link--icons{
    position: relative;
    top: 5px;
  }

  .b-legend--icons{
    width: 120px;
  }
  .b-floor--name{
    font-size: 50px;
    color: #e72528;

  }

}